{% extends "layout.html.twig" %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('/assets/css/minutes.css') }}">
    </head>
    <div id="minutes">
        <button><a href={{ path('_meetingdetails',{'id':meeting.id}) }}><< Back to the meeting details</a></button>
        <hr>
        <div class="row" id="toprow">
            <div class="col-sm-6">
                {% for presence in presences %}
                    {% if presence.type == "present_for_whole_meeting" %}
                        <p>{{ presence.user.username }} was present for the whole meeting.</p>
                    {% else %}
                        <p>{{ presence.user.username }} was absent with no apologies presented.</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-6">
                {% for item in items %}
                    <p>{{ item.number }}: {{ item.name }} / <a href={{ path('_newaction',{'id':item.id}) }}>add action</a> / <a href={{ path('_allactions',{'id':item.id}) }}>see all actions ...</a></p>
                {% endfor %}
            </div>
        </div>
        <div class="row" id="toprow">
            <div class="col-sm-12">
                <hr>
                <button><a href={{ path('_comment',{'id':meeting.id}) }}>Add a comment</a></button>
                <hr>
                {% if comments == null %}
                    <p>No comments for the moment</p>
                {% else %}
                    <table>
                        <tr>
                            <td class="tdb">
                                Comment
                            </td>
                            <td class="tdb">
                                Add by
                            </td>
                        </tr>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.user.username }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}