{% extends "layout.html.twig" %}

{% block body %}
    <p>project page for admin</p>
    <hr>
    <a href={{ path('_newproject') }}>new project</a></li>
    <hr>
    <ul>
        {% for project in listprojectunlock %}
            <li>{{ project.name }} , <a href={{ path('_lock',{'id':project.id}) }}>Lock</a></li>
        {% endfor %}
    </ul>
    <hr>
    <ul>
        {% for project in listprojectlock %}
            <li>{{ project.name }} , <a href={{ path('_unlock',{'id':project.id}) }}>Unlock</a></li>
        {% endfor %}
    </ul>
{% endblock %}