{% extends './layout.html.twig' %}

{% block stylesheet %}
    @import '../../../web/css/adminpage.css';
{% endblock %}

{% block body %}
    <p>admin page</p>
    <hr>
    <a href={{ path('_newuser') }}>New user</a>
    |
    <a href={{ path('_alluser') }}>See all users</a>
    |
    <a href={{ path('_newproject') }}>New project</a>
    |
    <a href={{ path('_allproject') }}>See all projects</a>
    |
    <a href={{ path('_newteam') }}>New team</a>
    |
    <a href={{ path('_allteam') }}>See all teams</a>
{% endblock %}
