{% extends "layout.html.twig" %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('/assets/css/adminpage.css') }}">
    </head>

    <div id="pcorps">
        <a href={{ path('_newproject') }}>New Project</a></li>
        <hr>
        <table>
            <tr>
                <td class="tdb">Name</td>
                <td></td>
            </tr>
            {% for project in listprojectunlock %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td><a href={{ path('_lock',{'id':project.id}) }}>Lock</a></td>
                </tr>
            {% endfor %}
        </table>

        <hr>
        <table>
            <tr>
                <td class="tdb">Name</td>
                <td></td>
            </tr>
            {% for project in listprojectlock %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td><a href={{ path('_unlock',{'id':project.id}) }}>Unlock</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}