{% extends "layout.html.twig" %}

{% block body %}
    <p>admin page : new project</p>
    <hr>
    <div id="divnewproject">
            {{ form_start(form) }}
            <div id="">
                {{ form_row(form.name) }}
            </div>
            <div id="">
                {{ form_row(form.leader) }}
            </div>
            <div id="">
                {{ form_row(form.secretary) }}
            </div>
            <div id="">
                {{ form_row(form.users) }}
            </div>
            <button type="submit">Save!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}