<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            @import '../../../web/css/main.css';
            {% block stylesheets %}{% endblock %}
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('people.png') }}" />
    </head>
    <body>
        <ul class="ulmenu">
            <li class="limenu"><a class="overed" href={{ path('_team') }}>Team</a></li>
            <li class="limenu"><a>Admin tabs</a></li>
            <li class="limenu"><a class="overed" href={{ path('_adminuser') }}>User</a></li>
            <li class="limenu"><a class="overed" href={{ path('_adminproject') }}>Project</a></li>
            <li class="limenu" style="float:right"><a class="overed" href={{ path('logout') }}>Logout</a></li>
            <li class="limenu" style="float:right"><a class="overed" href="">About</a></li>
        </ul>

        {% block body %}{% endblock %}

        <footer>
            2016 &copy; Pierre Thubé solutions unlimited
        </footer>
    </body>
</html>