{% extends "layout.html.twig" %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('assets/css/team.css') }}">
    </head>

    <div id="corps">
        <p class="smallT">Unlocked project:</p>
        <table>
                <tr>
                    <td class="tdb">
                        Name
                    </td>
                    <td class="tdb">
                        Leader
                    </td>
                    <td class="tdb">
                        Secretary
                    </td>
                    <td>
                    </td>
                </tr>
            {% for project in listprojectunlock %}
                <tr>
                    <td>
                        {{ project.name  }}
                    </td>
                    <td>
                        {{ project.leader.username }}
                    </td>
                    <td>
                        {{ project.secretary.username }}
                    </td>
                    <td>
                        <a href={{ path('_newmeeting',{'id':project.id}) }}>Add meeting</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <p class="smallT">Locked project:</p>
        <table>
                <tr>
                    <td class="tdb">
                        Name
                    </td>
                    <td class="tdb">
                        Leader
                    </td>
                    <td class="tdb">
                        Secretary
                    </td>
                    <td>
                    </td>
                </tr>
            {% for project in listprojectlock %}
                <tr>
                    <td>
                        {{ project.name  }}
                    </td>
                    <td>
                        {{ project.leader.username }}
                    </td>
                    <td>
                        {{ project.secretary.username }}
                    </td>
                    <td>
                        <a href={{ path('_newmeeting',{'id':project.id}) }}>Add meeting</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}