{% extends "layout.html.twig" %}

{% block body %}
    <p>change password page</p>
    <hr>
    <div id="divchangepassword">
        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword.first) }}
        {{ form_row(form.newPassword.second) }}

        <button type="submit">Save!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}